SPRINT 3 - Navarro Lorena

In [83]:

!pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wget in /usr/local/lib/python3.8/dist-packages (3.2)

In [84]:
import wget

In [85]:

import pandas as pd

In [86]:
df = pd.read_csv(r'train.csv')
df.head(20)

,customer_id,account_id,device_type,asset_id,tunein,tuneout,resume
0,0,90627,STATIONARY,18332.0,2021-02-18 22:52:00.0,2021-02-18 23:35:00.0,0.0
1,0,90627,STATIONARY,24727.0,2021-03-24 23:17:00.0,2021-03-25 00:01:00.0,0.0
2,1,3387,STB,895.0,2021-03-15 10:05:00.0,2021-03-15 10:23:00.0,0.0
3,1,3387,STB,895.0,2021-03-15 10:23:00.0,2021-03-15 11:18:00.0,1.0
4,1,3387,STB,26062.0,2021-03-16 09:24:00.0,2021-03-16 09:44:00.0,0.0
5,1,3387,STB,26062.0,2021-03-16 09:44:00.0,2021-03-16 09:47:00.0,0.0
6,2,3388,STB,30840.0,2021-01-01 02:22:00.0,2021-01-01 02:34:00.0,1.0
7,2,3388,STB,30840.0,2021-01-02 01:02:00.0,2021-01-02 01:08:00.0,1.0
8,2,3388,STB,13180.0,2021-01-02 01:08:00.0,2021-01-02 01:21:00.0,0.0
9,2,3388,STB,13180.0,2021-01-04 01:32:00.0,2021-01-04 01:35:00.0,1.0
10,2,3388,STB,13180.0,2021-01-05 01:47:00.0,2021-01-05 02:14:00.0,1.0
11,2,3388,STB,4576.0,2021-01-05 02:14:00.0,2021-01-05 02:24:00.0,0.0
12,2,3388,STB,2540.0,2021-01-05 16:04:00.0,2021-01-05 16:43:00.0,0.0
13,2,3388,STB,4576.0,2021-01-06 00:38:00.0,2021-01-06 00:49:00.0,1.0
14,2,3388,STB,4576.0,2021-01-11 00:15:00.0,2021-01-11 00:37:00.0,1.0
15,2,3388,STB,17358.0,2021-01-12 01:12:00.0,2021-01-12 01:19:00.0,0.0
16,2,3388,STB,17358.0,2021-01-13 00:27:00.0,2021-01-13 00:49:00.0,1.0
17,2,3388,STB,17358.0,2021-01-14 02:11:00.0,2021-01-14 02:25:00.0,1.0
18,2,3388,STB,1059.0,2021-01-14 03:11:00.0,2021-01-14 03:24:00.0,0.0
19,2,3388,STB,1059.0,2021-01-16 00:51:00.0,2021-01-16 01:00:00.0,1.0

De que se tratan las columnas??
train
 - customer_id : código de identificación de cada cliente de Flow (puede tener asociados uno o más account_id )
- account_id : código de identificación de cada perfil de Flow (se corresponde con un único customer_id )
- device_type : indica el tipo de dispositivo desde el que se efectuó la visualización. Las categorías posibles son:
-  NUBE: web cliente
  TELÉFONO: teléfono celular
  ESTACIONARIO: televisión inteligente
  STB: decodificador , el decodificador Flow
  TABLETA
- asset_id : código de identificación de cada activo (video) disponible en la plataforma
- tunein : fecha y hora de inicio de cada visualización
- tuneout : fecha y hora de finalización de cada visualización
- resume : variable dummy que indica si se reanudó un consumo anterior del mismo asset_id

In [87]:
metadata = pd.read_csv('metadata.csv', sep=';')
metadata.head(20)

,asset_id,content_id,title,reduced_title,episode_title,show_type,released_year,country_of_origin,category,keywords,...,language_rating,dialog_rating,fv_rating,pay_per_view,pack_premium_1,pack_premium_2,create_date,modify_date,start_vod_date,end_vod_date
0,15188,0.0,Ep:17 Tiempos Compulsivos,Tiempos_Compul_E17,Episodio 17,Serie,2012.0,AR,Drama,"Trastornos,Médicos,Tragicómica,Telenovela,Enfe...",...,N,N,N,N,N,N,2017-12-01T10:18:15.0Z,2019-01-26T06:37:18.0Z,2017-12-01T00:00:00.0Z,2020-12-01T23:59:59.0Z
1,24940,1.0,7 Cajas,7_Cajas,NaN,Película,2012.0,PY,Suspenso/Acción,"Latinoamérica,Pobreza,Crimen,Pandillas",...,N,N,N,Y,N,N,2017-12-19T20:58:15.0Z,2019-09-17T19:02:03.0Z,2017-12-15T00:00:00.0Z,2022-12-14T23:59:59.0Z
2,21939,2.0,La Maldición de las Hormigas Gigantes,La_Maldicion_de_las,NaN,Película,2016.0,FI,Terror/Comedia,"Criaturas,Plagas,Adolescentes,Fantasía,Video J...",...,N,N,N,N,N,N,2018-02-16T13:51:07.0Z,2020-04-28T14:16:38.0Z,2018-01-25T00:00:00.0Z,2020-12-01T23:59:59.0Z
3,9005,3.0,Una Mujer Fantástica,Una_Mujer_Fantastic,NaN,Película,2017.0,CL,Drama,"LGBT,Mujeres,Latinoamérica",...,N,N,N,N,Y,N,2018-05-26T11:58:44.0Z,2019-11-15T03:00:23.0Z,2018-05-27T00:00:00.0Z,2021-04-30T23:59:59.0Z
4,7391,4.0,Star Trek,Star_Trek,NaN,Película,2009.0,US,Ciencia Ficción/Aventura,"Fantasía,Galaxia,Futurismo,Aliens,Criaturas",...,N,N,N,Y,N,N,2019-05-03T20:07:24.0Z,2020-04-09T04:37:29.0Z,2019-05-02T00:00:00.0Z,2020-12-31T23:59:59.0Z
5,17760,5.0,T:2 Ep:06 Gaycation,Gaycation_T2_E06,United we stand,TV,2017.0,US,Documental/Cultura,"LGBT,Sociedad,Cultura,Feminismo",...,N,N,N,N,N,N,2019-06-27T14:20:42.0Z,2019-11-02T03:16:48.0Z,2019-06-27T00:00:00.0Z,2021-07-27T23:59:59.0Z
6,3619,6.0,T:1 Ep:04 His Dark Materials,His_Dark_Mat_T1_E04,Armour,Serie,2019.0,GB,Aventura/Fantasía,"Fantasía,De Libros,Criaturas",...,N,N,N,N,N,Y,2019-11-26T22:52:28.0Z,2019-11-26T23:06:01.0Z,2019-11-26T00:00:00.0Z,2020-12-01T23:59:00.0Z
7,2472,7.0,12/01 - Almorzando con Mirtha Legrand,Almorzando_ML_01-12,01 Diciembre 2019,TV,2019.0,AR,Interés General/Espectáculo,"Actualidad,Espectáculos",...,N,N,N,N,N,N,2019-12-04T05:20:43.0Z,2020-06-14T17:47:50.0Z,2019-12-02T00:00:00.0Z,2020-12-01T23:59:59.0Z
8,5066,6.0,T:1 Ep:05 His Dark Materials,His_Dark_Mat_T1_E05,The Lost Boy,Serie,2019.0,GB,Aventura/Fantasía,"Fantasía,De Libros,Criaturas",...,N,N,N,N,N,Y,2019-12-04T12:11:57.0Z,2019-12-04T13:06:01.0Z,2019-12-03T00:00:00.0Z,2020-12-01T23:59:00.0Z
9,32482,8.0,T:1 Ep:05 Mickey: Aventuras sobre ruedas,Mickey_Avent_T1_E05,"Agente cero, cero Goofy / El huevo exasperante",TV,2017.0,US,Infantil/Dibujos Animados,"Amigos,Aventuras,Autos",...,N,N,N,N,N,N,2020-01-08T00:59:01.0Z,2020-10-09T02:13:54.0Z,2019-10-09T00:00:00.0Z,2020-12-01T23:59:59.0Z
10,21684,9.0,Star Trek: En la oscuridad,Star_Trek__En_la_os,NaN,Película,2013.0,US,Ciencia Ficción/Aventura,"Fantasía,Galaxia,Futurismo,Aliens,Criaturas,Saga",...,N,N,N,Y,N,N,2020-03-06T18:21:59.0Z,2020-11-28T07:07:45.0Z,2020-01-03T00:00:00.0Z,2021-12-31T23:59:59.0Z
11,30574,10.0,Las aventuras de Peabody y Sherman,Las_aventuras_de_Pe,NaN,Película,2014.0,US,Infantil/Animación,"Dimensiones,Aventuras,Mascotas,Dreamworks,Familia",...,N,N,N,Y,N,N,2020-03-14T01:42:01.0Z,2020-03-14T02:06:04.0Z,2020-03-02T00:00:00.0Z,2020-12-01T23:59:00.0Z
12,21779,11.0,Star Trek: La película,Star_Trek__La_pelic,NaN,Película,1979.0,US,Ciencia Ficción/Aventura,"Fantasía,Galaxia,Futurismo,Aliens,Criaturas,Sa...",...,N,N,N,Y,N,N,2020-03-14T02:06:06.0Z,2020-03-14T03:06:01.0Z,2019-12-02T00:00:00.0Z,2020-12-01T23:59:00.0Z
13,30812,12.0,Star Trek 4: Misión: Salvar la tierra,Star_Trek_4__Mision,NaN,Película,1986.0,US,Ciencia Ficción/Aventura,"Fantasía,Galaxia,Aliens,Criaturas,Saga,Dimensi...",...,N,N,N,Y,N,N,2020-03-14T04:27:17.0Z,2020-03-14T05:06:02.0Z,2019-12-02T00:00:00.0Z,2020-12-01T23:59:00.0Z
14,17744,13.0,Star Trek 5: La última frontera,Star_Trek_5__La_ult,NaN,Película,1989.0,US,Ciencia Ficción/Aventura,"Futurismo,Galaxia,Aliens,Invasiones,Fantasía,D...",...,N,N,N,Y,N,N,2020-03-23T18:48:13.0Z,2020-03-23T19:06:05.0Z,2019-12-02T00:00:00.0Z,2020-12-01T23:59:00.0Z
15,18828,14.0,Star Trek 2: La ira de Khan,Star_Trek_2__La_ira,NaN,Película,1982.0,US,Ciencia Ficción/Aventura,"Galaxia,Criaturas,Aliens,Clásicas,Saga,Fantasí...",...,N,N,N,Y,N,N,2020-03-23T19:09:19.0Z,2020-03-23T20:06:03.0Z,2019-12-02T00:00:00.0Z,2020-12-01T23:59:00.0Z
16,30087,15.0,Star Trek 3: En busca de Spock,Star_Trek_3__En_bus,NaN,Película,1984.0,US,Ciencia Ficción/Aventura,"Futurismo,Galaxia,Fantasía,Aliens,Dimensiones,...",...,N,N,N,Y,N,N,2020-03-23T19:21:21.0Z,2020-03-23T20:06:04.0Z,2019-12-02T00:00:00.0Z,2020-12-01T23:59:00.0Z
17,7883,16.0,Venganza despiadada,Venganza_despiadada,NaN,Película,2011.0,FR,Acción/Crimen,"Mafia,Venganza,Latinoamérica,Mujeres",...,N,N,N,Y,N,N,2020-03-28T04:43:41.0Z,2020-05-20T15:46:14.0Z,2019-12-01T00:00:00.0Z,2020-12-01T23:59:59.0Z
18,24600,17.0,"Mune, el guardián de la luna",Mune__el_guardian_d,NaN,Película,2017.0,FR,Infantil/Animación,"Criaturas,Aventuras,Fantasía",...,N,N,N,Y,N,N,2020-03-30T20:21:36.0Z,2020-03-30T21:06:04.0Z,2020-03-02T00:00:00.0Z,2020-12-01T23:59:00.0Z
19,14972,18.0,T:1 Ep:21 PJ Masks: Héroes en pijamas,PJ_Masks_Her_T1_E21,Catboy al cuadrado/ El súper instinto de Gecko...,TV,2017.0,FR,Infantil/Dibujos Animados,"Superhéroes,De Libros,Aventuras,Instituto",...,N,N,N,N,N,N,2020-03-31T19:22:47.0Z,2020-10-10T06:56:41.0Z,2020-03-29T00:00:00.0Z,2020-12-01T23:59:59.0Z

Ahora, de esta metadata , que significan las columnas??

- asset_id : código de identificación de cada activo (video) disponible en Flow
- content_id : código de identificación que agrupa los distintos assets_id asociados a un mismo contenido (por ejemplo, cada episodio de una misma serie tiene su propio asset_id , mientras que la serie se identifica con un content_id único)
- titulo : titulo
- título_reducido : título reducido
- title_episodio : título del episodio (válido para contenidos episódicos, como las series)
- show_type : tipo de show - las categorías son autorreferenciales con excepción de “Rolling”, que indica que se trata de una serie incompleta, y “Web”, la cual remite a contenidos pensados ​​íntegramente en formato digital (series web) -
- release_year : año de lanzamiento
- country_of_origin : país de origen – expresado con el código de dos letras propio del estándar internacional de normalización ISO 3166 -
- categoría : categoría o género al que pertenece el contenido - puede haber una o más -
- keywords : palabras clave o tags asociados al contenido - puede haber una o más -
- description : descripción (sinopsis)
- reduce_desc : descripción (sinopsis) reducida
- cast_first_name : nombre y apellido de los actores y actrices principales
- credits_first_name : nombre y apellido del director o directora
- run_time_min : duración total, expresada en minutos
- audiencia : audiencia objetivo
- made_for_tv : variable dummy que indica si el contenido fue hecho para TV
- close_caption : variable dummy que indica si el contenido posee subtítulos
- sex_rating : variable dummy que indica si el contenido tiene escenas de sexo limpias
- cleanviolence_rating : variable dummy que indica si el contenido tiene escenas de violencia
- language_rating : variable dummy que indica si el contenido lenguaje posee que puede ser considerado ofensivo o inapropiado
- dialog_rating : variable dummy que indica si el contenido posee diálogos que pueden ser considerados ofensivos o inapropiados
- fv_rating : variable dummy que indica si el contenido tiene rating de FV, que corresponde a público infantil con violencia ficticia
- pay_per_view : dummy variable que indica si se trata de un alquiler
- pack_premium_1 : variable dummy que indica si se trata de un contenido exclusivo del pack premium 1
- pack_premium_2 : variable dummy que indica si se trata de un contenido exclusivo del pack premium 2
- create_date : fecha de creación del activo
- modificar_fecha : fecha de modificación del activo
- start_vod_date : fecha desde la cual el activo se encuentra disponible en la plataforma
- end_vod_date : fecha de finalización de la disponibilidad del activo en la plataforma

EDA
✅ Chequeamos si existen nulos en los datasets.

In [88]:
df.isna().sum()

customer_id     0
account_id      0
device_type     7
asset_id       10
tunein          0
tuneout         0
resume          1
dtype: int64

Como se verifica tenemos nulos en los ASSET_ID y DEVICE_TYPE . La columna clave para concatenar con el otro data frame es la primera, asi que solo quitaremos las filas nulas. Debemos quitar la columna DEVICE_TYPE.

In [89]:
metadata.isna().sum()

asset_id                  0
content_id               21
title                     0
reduced_title             0
episode_title          4147
show_type                 4
released_year             0
country_of_origin         4
category                  0
keywords                  2
description               2
reduced_desc              0
cast_first_name        8732
credits_first_name    12554
run_time_min              0
audience                  1
made_for_tv               0
close_caption             0
sex_rating                0
violence_rating           0
language_rating           0
dialog_rating             0
fv_rating                 0
pay_per_view              0
pack_premium_1            0
pack_premium_2            0
create_date               0
modify_date               0
start_vod_date            0
end_vod_date              0
dtype: int64

✅ Vamos a eliminar las columnas que NO nos interesan en ambos meta datos, pero sacaremos las filas nulas de ASSET_ID

In [90]:
df.drop(['device_type'], axis=1, inplace=True)

In [91]:
metadata.drop(['episode_title'], axis=1, inplace=True)

In [92]:
df= df.dropna()

In [93]:
df.isna().sum()

customer_id    0
account_id     0
asset_id       0
tunein         0
tuneout        0
resume         0
dtype: int64

In [94]:
metadata = metadata.dropna()

In [95]:
metadata.isna().sum()

asset_id              0
content_id            0
title                 0
reduced_title         0
show_type             0
released_year         0
country_of_origin     0
category              0
keywords              0
description           0
reduced_desc          0
cast_first_name       0
credits_first_name    0
run_time_min          0
audience              0
made_for_tv           0
close_caption         0
sex_rating            0
violence_rating       0
language_rating       0
dialog_rating         0
fv_rating             0
pay_per_view          0
pack_premium_1        0
pack_premium_2        0
create_date           0
modify_date           0
start_vod_date        0
end_vod_date          0
dtype: int64

Las ultimas columnas para poder unirlas debo tenerlas con fecha correcta, asi que lo cambiaremos a formato DATE TIME.

In [96]:
metadata["end_vod_date"] = pd.to_datetime(metadata.end_vod_date)

In [97]:
metadata.end_vod_date.min()

Timestamp('2020-12-01 23:59:00+0000', tz='UTC')

In [98]:
from datetime import datetime

metadata["end_vod_date"] = pd.to_datetime(metadata.end_vod_date)

In [99]:
metadata["end_vod_date"] = metadata["end_vod_date"].apply(lambda x: x.replace(tzinfo=None).date())

In [100]:
metadata.end_vod_date.min()

datetime.date(2020, 12, 1)

Me urge tambien saber que formato tiene el set de train, ademas para poder filtrar y concatenar

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241062 entries, 0 to 1241071
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   customer_id  1241062 non-null  int64
 1   account_id   1241062 non-null  int64
 2   asset_id     1241062 non-null  float64
 3   tunein       1241062 non-null  object
 4   tuneout      1241062 non-null  object
 5   resume       1241062 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 66.3+ MB

Aplicamos entonces lo mismo para train y la columna star_vod_date del metadata

In [102]:
df.tunein

0          2021-02-18 22:52:00.0
1          2021-03-24 23:17:00.0
2          2021-03-15 10:05:00.0
3          2021-03-15 10:23:00.0
4          2021-03-16 09:24:00.0
                   ...
1241067    2021-03-23 22:24:00.0
1241068    2021-03-24 10:09:00.0
1241069    2021-03-24 10:53:00.0
1241070    2021-03-24 16:06:00.0
1241071    2021-03-24 16:21:00.0
Name: tunein, Length: 1241062, dtype: object

cambiaremos para definir si terminaron viendo una pelicula / serie con un formato apropiado

In [103]:
from datetime import datetime
df["tuneout"] = pd.to_datetime(df.tuneout)
df["tunein"] = pd.to_datetime(df.tunein)

In [104]:
df.tuneout

0         2021-02-18 23:35:00
1         2021-03-25 00:01:00
2         2021-03-15 10:23:00
3         2021-03-15 11:18:00
4         2021-03-16 09:44:00
                  ...
1241067   2021-03-23 22:47:00
1241068   2021-03-24 10:50:00
1241069   2021-03-24 11:37:00
1241070   2021-03-24 16:21:00
1241071   2021-03-24 17:19:00
Name: tuneout, Length: 1241062, dtype: datetime64[ns]

In [105]:
df["to_see"] = ((df.tuneout - df.tunein) / pd.Timedelta('1 hour') > 1.0 )

In [106]:
df

,customer_id,account_id,asset_id,tunein,tuneout,resume,to_see
0,0,90627,18332.0,2021-02-18 22:52:00,2021-02-18 23:35:00,0.0,False
1,0,90627,24727.0,2021-03-24 23:17:00,2021-03-25 00:01:00,0.0,False
2,1,3387,895.0,2021-03-15 10:05:00,2021-03-15 10:23:00,0.0,False
3,1,3387,895.0,2021-03-15 10:23:00,2021-03-15 11:18:00,1.0,False
4,1,3387,26062.0,2021-03-16 09:24:00,2021-03-16 09:44:00,0.0,False
...,...,...,...,...,...,...,...
1241067,41256,60467,27752.0,2021-03-23 22:24:00,2021-03-23 22:47:00,1.0,False
1241068,41256,60467,11910.0,2021-03-24 10:09:00,2021-03-24 10:50:00,1.0,False
1241069,41256,60467,29211.0,2021-03-24 10:53:00,2021-03-24 11:37:00,0.0,False
1241070,41256,60467,29211.0,2021-03-24 16:06:00,2021-03-24 16:21:00,1.0,False
1241071,41256,60467,22134.0,2021-03-24 16:21:00,2021-03-24 17:19:00,0.0,False

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241062 entries, 0 to 1241071
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   customer_id  1241062 non-null  int64
 1   account_id   1241062 non-null  int64
 2   asset_id     1241062 non-null  float64
 3   tunein       1241062 non-null  datetime64[ns]
 4   tuneout      1241062 non-null  datetime64[ns]
 5   resume       1241062 non-null  float64
 6   to_see       1241062 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(2), int64(2)
memory usage: 67.5 MB

Vamos agregar una COLUMNA nueva llamada "to_see"

In [108]:
metadata["start_vod_date"] = pd.to_datetime(metadata.start_vod_date)
metadata["start_vod_date"] = metadata["start_vod_date"].apply(lambda x: x.replace(tzinfo=None).date())

Ahora vamos a unir los 2 dataframe con el key ASSET_ID, aunque verifico que el train lo tengo en float y en metadata en int.
 Vamos a modificar eso para continuar.

In [109]:
df["asset_id"] = df["asset_id"].astype(int)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241062 entries, 0 to 1241071
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   customer_id  1241062 non-null  int64
 1   account_id   1241062 non-null  int64
 2   asset_id     1241062 non-null  int64
 3   tunein       1241062 non-null  datetime64[ns]
 4   tuneout      1241062 non-null  datetime64[ns]
 5   resume       1241062 non-null  float64
 6   to_see       1241062 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(1), int64(3)
memory usage: 67.5 MB

In [111]:
# Vamos a usar del metadata INFORMACION solo a partir del 01/03/2021
#metadata = metadata[metadata['end_vod_date'] < datetime(2021, 3, 1).date()]

Ahora estamos en condiciones de unir los data frame mediante ASSET_ID

✅ Además, solo nos vamos a quedar con aquellas instancias que nos sirvan.

df: Asset_ id - account_id - tunein
metadata : asset_ id - content_id - category - show_type - audience - keywords 

Como sabemos, no tengo instancias explicitas, por eso crearemos una columna en base a SI las series/ peliculas fueron pagas y si aun esta disponible la misma con la fecha mayor a 01/03/2021

In [112]:
df_completo = pd.merge(df[['asset_id','account_id', 'tunein',"to_see"]],
              metadata[['asset_id', 'content_id', "category","show_type","audience", "keywords", "pay_per_view","pack_premium_1","pack_premium_2","end_vod_date"]], 
              how = 'inner', 
              on = 'asset_id')

In [113]:
df_completo.head()

,asset_id,account_id,tunein,to_see,content_id,category,show_type,audience,keywords,pay_per_view,pack_premium_1,pack_premium_2,end_vod_date
0,18332,90627,2021-02-18 22:52:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30
1,18332,3389,2021-02-27 16:25:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30
2,18332,3395,2021-02-24 17:24:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30
3,18332,26042,2021-02-24 21:56:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30
4,18332,26060,2021-02-19 15:10:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30

Aqui iremos agregando en la columna, diferentes rating con esta modalidad y con las ultimas columnas.

Si el pago se realiza para verlo y sigue disponible (fecha mayor a 30/01/2023)-> 3 puntos
Si todavia esta disponible pero no necesariamente se pago para visualizar -> 2 puntos
Si se pago en su momento pero no esta disponible en la plataforma -> 1 punto
Si no esta disponible -> 0 puntos

In [114]:
# columnas a utilizar - "pay_per_view","pack_premium_1","pack_premium_2","end_vod_date"

df_completo['Rat'] = df_completo.apply(
    lambda row: row.pay_per_view == "Y" and (row.end_vod_date > datetime(year=2023, month=1, day=30).date() ) or row.pack_premium_1 == "Y" and (row.end_vod_date > datetime(year=2023, month=1, day=30).date()) or row.pack_premium_2 == "Y" and (row.end_vod_date > datetime(year=2023, month=1, day=30).date()), axis=1)

In [115]:
df_completo["Rat"] = df_completo.Rat.replace({True: 3})
df_completo.loc[df_completo["Rat"]==3]

,asset_id,account_id,tunein,to_see,content_id,category,show_type,audience,keywords,pay_per_view,pack_premium_1,pack_premium_2,end_vod_date,Rat
107725,17010,3397,2021-02-16 00:59:00,False,2574.0,Drama,Serie,General,"Religión,Europa",N,Y,N,2028-12-31,3
107726,17010,26398,2021-02-28 12:05:00,True,2574.0,Drama,Serie,General,"Religión,Europa",N,Y,N,2028-12-31,3
107727,17010,3492,2021-01-18 18:48:00,False,2574.0,Drama,Serie,General,"Religión,Europa",N,Y,N,2028-12-31,3
107728,17010,166,2021-02-01 18:59:00,False,2574.0,Drama,Serie,General,"Religión,Europa",N,Y,N,2028-12-31,3
107729,17010,166,2021-02-01 21:20:00,False,2574.0,Drama,Serie,General,"Religión,Europa",N,Y,N,2028-12-31,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804170,8920,49567,2021-02-06 13:09:00,False,3375.0,Terror,Película,General,"Latinoamérica,Religión,Paranormal,Embarazos,Ai...",Y,N,N,2025-11-20,3
804174,31267,49661,2021-01-11 12:07:00,True,3580.0,Documental/Naturaleza,Película,General,"Naturaleza,Política,Medioambiente",Y,N,N,2037-07-27,3
804444,9378,53849,2021-02-18 23:04:00,True,3218.0,Terror,Película,General,"Vampiros,LGBT,Crimen,Agentes",Y,N,N,2024-10-30,3
804445,9378,58991,2021-02-14 19:48:00,True,3218.0,Terror,Película,General,"Vampiros,LGBT,Crimen,Agentes",Y,N,N,2024-10-30,3
804815,13637,60164,2021-02-04 22:09:00,False,2444.0,Suspenso/Terror,Película,Juvenil,"Paranormal,Adolescentes",Y,N,N,2024-12-24,3

Vamos a ser lo mismo para 2 puntos

In [116]:
df_completo['Rat_2'] = df_completo.apply(
    lambda row: row.pay_per_view == "Y" and (row.end_vod_date < datetime(year=2023, month=1, day=30).date() ) or row.pack_premium_1 == "Y" and (row.end_vod_date < datetime(year=2023, month=1, day=30).date()) or row.pack_premium_2 == "Y" and (row.end_vod_date < datetime(year=2023, month=1, day=30).date()), axis=1)

In [117]:
df_completo["Rat_2"] = df_completo.Rat_2.replace({True: 2})
df_completo.loc[df_completo["Rat_2"]==2]

,asset_id,account_id,tunein,to_see,content_id,category,show_type,audience,keywords,pay_per_view,pack_premium_1,pack_premium_2,end_vod_date,Rat,Rat_2
0,18332,90627,2021-02-18 22:52:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2
1,18332,3389,2021-02-27 16:25:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2
2,18332,3395,2021-02-24 17:24:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2
3,18332,26042,2021-02-24 21:56:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2
4,18332,26060,2021-02-19 15:10:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804802,29077,59662,2021-03-28 00:29:00,True,4088.0,Romance/Fantasía,Película,Juvenil,"Parejas,Vampiros,Pueblo,Saga,Fantasía,Adolesce...",Y,N,N,2022-03-06,False,2
804816,8706,60210,2021-02-13 21:13:00,True,2122.0,Comedia,Película,Juvenil,"Amigos,Solteros,Optimistas",N,Y,N,2021-05-14,False,2
804817,15283,60302,2021-02-15 01:16:00,False,2556.0,Comedia,Película,Juvenil,"Optimistas,Bizarras",Y,N,N,2021-09-30,False,2
804818,6764,60413,2021-01-15 03:08:00,False,2451.0,Acción/Ciencia Ficción,Película,General,"Robots,Distopía,Crimen,Futurismo",Y,N,N,2021-12-31,False,2
804819,9706,492,2021-02-02 21:57:00,False,3482.0,Comedia/Drama,Película,General,"Remake,Independientes,Tragicómica,Familia,Niños",N,Y,N,2021-05-31,False,2

In [118]:
df_completo['Rat_3'] = df_completo.apply(
    lambda row: row.pay_per_view == "N" and (row.end_vod_date > datetime(year=2023, month=1, day=30).date()) and (row.pack_premium_1 == "N" and row.pack_premium_2 == "N"), axis=1)

In [119]:
df_completo["Rat_3"] = df_completo.Rat_3.replace({True: 1})
df_completo.loc[df_completo["Rat_3"]==1]

,asset_id,account_id,tunein,to_see,content_id,category,show_type,audience,keywords,pay_per_view,pack_premium_1,pack_premium_2,end_vod_date,Rat,Rat_2,Rat_3
25148,23814,3389,2021-01-26 17:58:00,False,604.0,Comedia,Web,Juvenil,Entrevistas,N,N,N,2023-12-04,False,False,1
25149,23814,26183,2021-01-30 20:57:00,False,604.0,Comedia,Web,Juvenil,Entrevistas,N,N,N,2023-12-04,False,False,1
25150,23814,3421,2021-02-28 23:35:00,False,604.0,Comedia,Web,Juvenil,Entrevistas,N,N,N,2023-12-04,False,False,1
25151,23814,26342,2021-02-19 23:50:00,False,604.0,Comedia,Web,Juvenil,Entrevistas,N,N,N,2023-12-04,False,False,1
25152,23814,26375,2021-02-16 22:56:00,False,604.0,Comedia,Web,Juvenil,Entrevistas,N,N,N,2023-12-04,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804469,30399,7255,2021-02-12 21:43:00,False,2041.0,Comedia/Romance,Serie,Teens,"Optimistas,LGBT,Artistas,Melodrama,Latinoamérica",N,N,N,2027-08-01,False,False,1
804470,10881,54137,2021-03-28 12:08:00,False,2041.0,Comedia/Romance,Serie,Teens,"Optimistas,LGBT,Artistas,Melodrama,Latinoamérica",N,N,N,2027-08-01,False,False,1
804471,10881,7255,2021-02-12 22:09:00,False,2041.0,Comedia/Romance,Serie,Teens,"Optimistas,LGBT,Artistas,Melodrama,Latinoamérica",N,N,N,2027-08-01,False,False,1
804737,31341,7255,2021-02-10 22:01:00,False,2041.0,Comedia/Romance,Serie,Teens,"Optimistas,LGBT,Artistas,Melodrama,Latinoamérica",N,N,N,2027-08-01,False,False,1
804757,2240,58732,2021-02-04 15:29:00,False,2487.0,Comedia/Crimen,Serie,General,"Detectives,Crimen,Agentes",N,N,N,2023-05-31,False,False,1

In [120]:
df_completo['Rat_4'] = df_completo.apply(
    lambda row: row.pay_per_view == "N" and (row.end_vod_date < datetime(year=2023, month=1, day=30).date()) and (row.pack_premium_1 == "N" and row.pack_premium_2 == "N"), axis=1)

In [121]:
df_completo["Rat_4"] = df_completo.Rat_4.replace({True: 0})
df_completo.loc[df_completo["Rat_4"]==0]

,asset_id,account_id,tunein,to_see,content_id,category,show_type,audience,keywords,pay_per_view,pack_premium_1,pack_premium_2,end_vod_date,Rat,Rat_2,Rat_3,Rat_4
0,18332,90627,2021-02-18 22:52:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False
1,18332,3389,2021-02-27 16:25:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False
2,18332,3395,2021-02-24 17:24:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False
3,18332,26042,2021-02-24 21:56:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False
4,18332,26060,2021-02-19 15:10:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804815,13637,60164,2021-02-04 22:09:00,False,2444.0,Suspenso/Terror,Película,Juvenil,"Paranormal,Adolescentes",Y,N,N,2024-12-24,3,False,False,False
804816,8706,60210,2021-02-13 21:13:00,True,2122.0,Comedia,Película,Juvenil,"Amigos,Solteros,Optimistas",N,Y,N,2021-05-14,False,2,False,False
804817,15283,60302,2021-02-15 01:16:00,False,2556.0,Comedia,Película,Juvenil,"Optimistas,Bizarras",Y,N,N,2021-09-30,False,2,False,False
804818,6764,60413,2021-01-15 03:08:00,False,2451.0,Acción/Ciencia Ficción,Película,General,"Robots,Distopía,Crimen,Futurismo",Y,N,N,2021-12-31,False,2,False,False
804819,9706,492,2021-02-02 21:57:00,False,3482.0,Comedia/Drama,Película,General,"Remake,Independientes,Tragicómica,Familia,Niños",N,Y,N,2021-05-31,False,2,False,False

Ya lo hicimos para 3, 2 , 1 y 0 puntos por cada columna, lo juntaremos y lo mapeamos

In [122]:
df_completo["Rating"] = df_completo["Rat"] + df_completo["Rat_2"] + df_completo["Rat_3"] + df_completo["Rat_4"]
df_completo

,asset_id,account_id,tunein,to_see,content_id,category,show_type,audience,keywords,pay_per_view,pack_premium_1,pack_premium_2,end_vod_date,Rat,Rat_2,Rat_3,Rat_4,Rating
0,18332,90627,2021-02-18 22:52:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False,2
1,18332,3389,2021-02-27 16:25:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False,2
2,18332,3395,2021-02-24 17:24:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False,2
3,18332,26042,2021-02-24 21:56:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False,2
4,18332,26060,2021-02-19 15:10:00,False,2040.0,Drama/Comedia,Serie,Mujeres,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",N,Y,N,2021-06-30,False,2,False,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804815,13637,60164,2021-02-04 22:09:00,False,2444.0,Suspenso/Terror,Película,Juvenil,"Paranormal,Adolescentes",Y,N,N,2024-12-24,3,False,False,False,3
804816,8706,60210,2021-02-13 21:13:00,True,2122.0,Comedia,Película,Juvenil,"Amigos,Solteros,Optimistas",N,Y,N,2021-05-14,False,2,False,False,2
804817,15283,60302,2021-02-15 01:16:00,False,2556.0,Comedia,Película,Juvenil,"Optimistas,Bizarras",Y,N,N,2021-09-30,False,2,False,False,2
804818,6764,60413,2021-01-15 03:08:00,False,2451.0,Acción/Ciencia Ficción,Película,General,"Robots,Distopía,Crimen,Futurismo",Y,N,N,2021-12-31,False,2,False,False,2
804819,9706,492,2021-02-02 21:57:00,False,3482.0,Comedia/Drama,Película,General,"Remake,Independientes,Tragicómica,Familia,Niños",N,Y,N,2021-05-31,False,2,False,False,2

In [123]:
df_completo['Rating'].value_counts()

0    449098
2    243624
1     88244
3     23854
Name: Rating, dtype: int64

Lo que queremos recomendar son los ACCOUNT _ ID que serian las peliculas/ series que tienen el mejor rating en base a su content_id. por lo que solo usaremos pocas columnas de las ya usadas

In [124]:
interactions_seleccionadas = df_completo[['content_id' ,'account_id', "category",'keywords', 'Rating', 'tunein',"to_see"]]

interactions_seleccionadas.head()

,content_id,account_id,category,keywords,Rating,tunein,to_see
0,2040.0,90627,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-18 22:52:00,False
1,2040.0,3389,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-27 16:25:00,False
2,2040.0,3395,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-24 17:24:00,False
3,2040.0,26042,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-24 21:56:00,False
4,2040.0,26060,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-19 15:10:00,False

In [125]:
interactions_seleccionadas['Rating'].value_counts()

0    449098
2    243624
1     88244
3     23854
Name: Rating, dtype: int64

In [126]:
interactions_seleccionadas.account_id.nunique()

39001

In [127]:
interactions_seleccionadas.content_id.nunique()

3015

Listo, ahora para el dataset debo dividir las fechas para antes del 01/3/2021

In [128]:
interactions_train = interactions_seleccionadas[interactions_seleccionadas.tunein< "2021-02-28 00:00:00"]

interactions_test = interactions_seleccionadas[interactions_seleccionadas.tunein>= "2021-03-01 00:00:00"]

In [129]:
interactions_train["Rating"].value_counts()

0    273292
2    167632
1     61572
3     14342
Name: Rating, dtype: int64

In [130]:
interactions_test.shape

(278825, 7)

In [131]:
interactions_train

,content_id,account_id,category,keywords,Rating,tunein,to_see
0,2040.0,90627,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-18 22:52:00,False
1,2040.0,3389,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-27 16:25:00,False
2,2040.0,3395,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-24 17:24:00,False
3,2040.0,26042,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-24 21:56:00,False
4,2040.0,26060,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-02-19 15:10:00,False
...,...,...,...,...,...,...,...
804815,2444.0,60164,Suspenso/Terror,"Paranormal,Adolescentes",3,2021-02-04 22:09:00,False
804816,2122.0,60210,Comedia,"Amigos,Solteros,Optimistas",2,2021-02-13 21:13:00,True
804817,2556.0,60302,Comedia,"Optimistas,Bizarras",2,2021-02-15 01:16:00,False
804818,2451.0,60413,Acción/Ciencia Ficción,"Robots,Distopía,Crimen,Futurismo",2,2021-01-15 03:08:00,False
804819,3482.0,492,Comedia/Drama,"Remake,Independientes,Tragicómica,Familia,Niños",2,2021-02-02 21:57:00,False

¿tenemos algun usuario que aparece en test pero no en train? ¿Qué le recomendamos?

COLD START...

Vamos a ver si tenemos este problema.

In [132]:
interactions_test[~interactions_test.account_id.isin(interactions_train.account_id.unique())].account_id.nunique()

4938

Ahora si hacemos la matrix de interacciones

In [133]:
user_movies_interaction = pd.pivot_table(interactions_train[["content_id", "account_id", "Rating"]], index='account_id', columns='content_id', values='Rating')

user_movies_interaction = user_movies_interaction.fillna(0)

user_movies_interaction.sample(10)

content_id,0.0,1.0,3.0,6.0,9.0,13.0,23.0,24.0,33.0,46.0,...,4357.0,4358.0,4359.0,4360.0,4361.0,4362.0,4363.0,4364.0,4365.0,4366.0
account_id,,,,,,,,,,,,,,,,,,,,,
57871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44503,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Y el diccionario para futura referencia:

In [134]:
user_ids = list(user_movies_interaction.index)
user_dict = {}
counter = 0 
for i in user_ids:
    user_dict[i] = counter
    counter += 1

In [135]:
from scipy.sparse import csr_matrix

user_movies_interaction_csr = csr_matrix(user_movies_interaction.values)
user_movies_interaction_csr

<33997x2699 sparse matrix of type '<class 'numpy.float64'>'
	with 67445 stored elements in Compressed Sparse Row format>

In [136]:
!pip install lightfm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lightfm in /usr/local/lib/python3.8/dist-packages (1.16)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from lightfm) (2.25.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from lightfm) (1.0.2)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.8/dist-packages (from lightfm) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from lightfm) (1.21.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->lightfm) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->lightfm) (2022.12.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->lightfm) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->lightfm) (1.2.0)

In [137]:
from lightfm import LightFM

In [138]:
model = LightFM(random_state=0,
                loss='warp',
                learning_rate=0.03,
                no_components=100)

model = model.fit(user_movies_interaction_csr,
                  epochs=100,
                  num_threads=16, verbose=False)

In [139]:
import tensorflow as tf
import keras
import numpy as np

y ahora definimos la funcion para obtener recomendaciones para un usuario en especifico

In [140]:
user_dict

{140: 0,
 142: 1,
 143: 2,
 144: 3,
 145: 4,
 148: 5,
 149: 6,
 152: 7,
 153: 8,
 155: 9,
 157: 10,
 158: 11,
 159: 12,
 160: 13,
 161: 14,
 162: 15,
 163: 16,
 164: 17,
 166: 18,
 168: 19,
 169: 20,
 170: 21,
 172: 22,
 173: 23,
 174: 24,
 175: 25,
 176: 26,
 178: 27,
 181: 28,
 182: 29,
 183: 30,
 184: 31,
 185: 32,
 186: 33,
 187: 34,
 188: 35,
 189: 36,
 191: 37,
 193: 38,
 194: 39,
 196: 40,
 198: 41,
 199: 42,
 200: 43,
 201: 44,
 202: 45,
 203: 46,
 204: 47,
 205: 48,
 207: 49,
 208: 50,
 210: 51,
 212: 52,
 213: 53,
 215: 54,
 216: 55,
 217: 56,
 218: 57,
 221: 58,
 222: 59,
 224: 60,
 225: 61,
 226: 62,
 227: 63,
 228: 64,
 229: 65,
 230: 66,
 231: 67,
 232: 68,
 233: 69,
 234: 70,
 235: 71,
 236: 72,
 237: 73,
 238: 74,
 239: 75,
 241: 76,
 242: 77,
 243: 78,
 244: 79,
 245: 80,
 246: 81,
 247: 82,
 249: 83,
 251: 84,
 252: 85,
 253: 86,
 255: 87,
 256: 88,
 257: 89,
 258: 90,
 259: 91,
 260: 92,
 261: 93,
 262: 94,
 263: 95,
 264: 96,
 265: 97,
 270: 98,
 272: 99,
 275: 100,
 277: 101,
 279: 102,
 281: 103,
 282: 104,
 283: 105,
 284: 106,
 285: 107,
 286: 108,
 287: 109,
 289: 110,
 290: 111,
 291: 112,
 292: 113,
 293: 114,
 294: 115,
 295: 116,
 296: 117,
 297: 118,
 298: 119,
 299: 120,
 300: 121,
 301: 122,
 302: 123,
 303: 124,
 304: 125,
 305: 126,
 307: 127,
 308: 128,
 309: 129,
 310: 130,
 311: 131,
 313: 132,
 314: 133,
 316: 134,
 317: 135,
 318: 136,
 319: 137,
 320: 138,
 321: 139,
 322: 140,
 323: 141,
 325: 142,
 326: 143,
 327: 144,
 329: 145,
 330: 146,
 331: 147,
 332: 148,
 333: 149,
 335: 150,
 336: 151,
 338: 152,
 339: 153,
 340: 154,
 341: 155,
 342: 156,
 344: 157,
 345: 158,
 346: 159,
 347: 160,
 348: 161,
 349: 162,
 350: 163,
 352: 164,
 353: 165,
 354: 166,
 355: 167,
 356: 168,
 358: 169,
 359: 170,
 361: 171,
 362: 172,
 363: 173,
 364: 174,
 365: 175,
 366: 176,
 368: 177,
 369: 178,
 370: 179,
 371: 180,
 372: 181,
 373: 182,
 375: 183,
 376: 184,
 377: 185,
 378: 186,
 380: 187,
 381: 188,
 382: 189,
 383: 190,
 384: 191,
 386: 192,
 387: 193,
 388: 194,
 389: 195,
 390: 196,
 392: 197,
 393: 198,
 395: 199,
 397: 200,
 399: 201,
 400: 202,
 401: 203,
 402: 204,
 405: 205,
 406: 206,
 408: 207,
 409: 208,
 410: 209,
 411: 210,
 412: 211,
 414: 212,
 416: 213,
 417: 214,
 418: 215,
 420: 216,
 421: 217,
 422: 218,
 423: 219,
 424: 220,
 425: 221,
 426: 222,
 428: 223,
 429: 224,
 430: 225,
 431: 226,
 432: 227,
 434: 228,
 435: 229,
 437: 230,
 440: 231,
 441: 232,
 442: 233,
 443: 234,
 444: 235,
 445: 236,
 446: 237,
 447: 238,
 448: 239,
 449: 240,
 451: 241,
 452: 242,
 453: 243,
 454: 244,
 456: 245,
 457: 246,
 458: 247,
 459: 248,
 460: 249,
 461: 250,
 462: 251,
 463: 252,
 464: 253,
 465: 254,
 466: 255,
 468: 256,
 469: 257,
 470: 258,
 471: 259,
 472: 260,
 474: 261,
 475: 262,
 476: 263,
 477: 264,
 478: 265,
 480: 266,
 482: 267,
 483: 268,
 484: 269,
 485: 270,
 486: 271,
 487: 272,
 491: 273,
 492: 274,
 634: 275,
 2417: 276,
 2967: 277,
 3388: 278,
 3389: 279,
 3390: 280,
 3391: 281,
 3393: 282,
 3395: 283,
 3396: 284,
 3397: 285,
 3399: 286,
 3402: 287,
 3403: 288,
 3404: 289,
 3405: 290,
 3407: 291,
 3408: 292,
 3410: 293,
 3412: 294,
 3413: 295,
 3414: 296,
 3415: 297,
 3416: 298,
 3417: 299,
 3418: 300,
 3419: 301,
 3420: 302,
 3421: 303,
 3422: 304,
 3423: 305,
 3424: 306,
 3425: 307,
 3426: 308,
 3427: 309,
 3428: 310,
 3431: 311,
 3433: 312,
 3434: 313,
 3435: 314,
 3437: 315,
 3439: 316,
 3443: 317,
 3444: 318,
 3445: 319,
 3446: 320,
 3447: 321,
 3448: 322,
 3449: 323,
 3450: 324,
 3451: 325,
 3452: 326,
 3453: 327,
 3454: 328,
 3455: 329,
 3457: 330,
 3459: 331,
 3460: 332,
 3461: 333,
 3462: 334,
 3463: 335,
 3464: 336,
 3465: 337,
 3466: 338,
 3468: 339,
 3469: 340,
 3471: 341,
 3472: 342,
 3473: 343,
 3474: 344,
 3475: 345,
 3476: 346,
 3477: 347,
 3478: 348,
 3480: 349,
 3481: 350,
 3482: 351,
 3483: 352,
 3484: 353,
 3485: 354,
 3486: 355,
 3487: 356,
 3488: 357,
 3489: 358,
 3490: 359,
 3492: 360,
 3493: 361,
 3494: 362,
 3495: 363,
 3496: 364,
 3497: 365,
 3499: 366,
 3500: 367,
 3501: 368,
 3502: 369,
 3503: 370,
 3504: 371,
 3505: 372,
 3506: 373,
 3507: 374,
 3510: 375,
 3511: 376,
 3512: 377,
 3513: 378,
 3514: 379,
 3515: 380,
 3516: 381,
 3517: 382,
 3518: 383,
 3519: 384,
 3520: 385,
 3521: 386,
 3522: 387,
 3523: 388,
 3524: 389,
 3525: 390,
 3526: 391,
 3527: 392,
 3528: 393,
 3529: 394,
 3530: 395,
 3531: 396,
 3532: 397,
 3533: 398,
 3534: 399,
 3535: 400,
 3536: 401,
 3537: 402,
 3538: 403,
 3540: 404,
 3541: 405,
 3543: 406,
 3544: 407,
 3545: 408,
 3546: 409,
 3547: 410,
 3549: 411,
 3550: 412,
 3551: 413,
 3552: 414,
 3554: 415,
 3555: 416,
 3556: 417,
 3557: 418,
 3558: 419,
 3559: 420,
 3560: 421,
 3561: 422,
 3562: 423,
 3563: 424,
 3564: 425,
 3565: 426,
 3566: 427,
 3567: 428,
 3568: 429,
 3569: 430,
 3570: 431,
 3571: 432,
 3574: 433,
 3575: 434,
 3577: 435,
 3578: 436,
 3580: 437,
 3582: 438,
 3583: 439,
 3584: 440,
 3586: 441,
 3587: 442,
 3588: 443,
 3589: 444,
 3590: 445,
 3591: 446,
 3592: 447,
 3594: 448,
 3595: 449,
 3596: 450,
 3597: 451,
 3598: 452,
 3600: 453,
 3601: 454,
 3603: 455,
 3605: 456,
 3607: 457,
 3608: 458,
 3609: 459,
 3611: 460,
 3612: 461,
 3613: 462,
 3614: 463,
 3615: 464,
 3616: 465,
 3617: 466,
 3618: 467,
 3619: 468,
 3620: 469,
 3622: 470,
 3623: 471,
 3624: 472,
 3625: 473,
 3626: 474,
 3627: 475,
 3630: 476,
 3631: 477,
 3632: 478,
 3633: 479,
 3634: 480,
 3635: 481,
 3636: 482,
 3638: 483,
 3640: 484,
 3642: 485,
 3643: 486,
 3644: 487,
 3645: 488,
 3646: 489,
 3647: 490,
 3649: 491,
 3650: 492,
 3652: 493,
 3653: 494,
 3655: 495,
 3656: 496,
 3657: 497,
 3658: 498,
 3659: 499,
 3660: 500,
 3661: 501,
 3662: 502,
 3663: 503,
 3665: 504,
 3666: 505,
 3667: 506,
 3668: 507,
 3669: 508,
 3670: 509,
 3671: 510,
 3672: 511,
 3674: 512,
 3675: 513,
 3676: 514,
 3677: 515,
 3680: 516,
 3681: 517,
 3682: 518,
 3684: 519,
 3685: 520,
 3686: 521,
 3687: 522,
 3688: 523,
 3689: 524,
 3690: 525,
 3691: 526,
 3692: 527,
 3693: 528,
 3694: 529,
 3695: 530,
 3696: 531,
 3697: 532,
 3699: 533,
 3700: 534,
 3701: 535,
 3702: 536,
 3703: 537,
 3704: 538,
 3706: 539,
 3707: 540,
 3708: 541,
 3710: 542,
 3713: 543,
 3714: 544,
 3716: 545,
 3717: 546,
 3718: 547,
 3720: 548,
 3721: 549,
 3722: 550,
 3723: 551,
 3724: 552,
 3725: 553,
 3726: 554,
 3727: 555,
 3728: 556,
 3729: 557,
 3730: 558,
 3732: 559,
 3733: 560,
 3734: 561,
 3735: 562,
 3736: 563,
 3737: 564,
 3738: 565,
 3740: 566,
 3742: 567,
 3743: 568,
 3744: 569,
 3746: 570,
 3747: 571,
 3748: 572,
 3749: 573,
 3750: 574,
 3751: 575,
 3752: 576,
 3753: 577,
 3754: 578,
 3755: 579,
 3756: 580,
 3757: 581,
 3758: 582,
 3759: 583,
 3760: 584,
 3761: 585,
 3762: 586,
 3763: 587,
 3765: 588,
 3766: 589,
 3767: 590,
 3769: 591,
 3772: 592,
 3773: 593,
 3774: 594,
 3775: 595,
 3776: 596,
 3777: 597,
 3778: 598,
 3779: 599,
 3781: 600,
 3782: 601,
 3783: 602,
 3784: 603,
 3785: 604,
 3786: 605,
 3787: 606,
 3789: 607,
 3792: 608,
 3793: 609,
 3794: 610,
 3795: 611,
 3796: 612,
 3797: 613,
 3798: 614,
 3799: 615,
 3800: 616,
 3801: 617,
 3802: 618,
 3803: 619,
 3804: 620,
 3805: 621,
 3806: 622,
 3807: 623,
 3808: 624,
 3809: 625,
 3810: 626,
 3811: 627,
 3813: 628,
 3814: 629,
 3815: 630,
 3816: 631,
 3817: 632,
 3818: 633,
 3819: 634,
 3820: 635,
 3821: 636,
 3822: 637,
 3823: 638,
 3824: 639,
 3825: 640,
 3826: 641,
 3827: 642,
 3828: 643,
 3829: 644,
 3830: 645,
 3831: 646,
 3832: 647,
 3833: 648,
 3835: 649,
 3836: 650,
 3837: 651,
 3839: 652,
 3840: 653,
 3841: 654,
 3842: 655,
 3843: 656,
 3844: 657,
 3845: 658,
 3846: 659,
 3848: 660,
 3850: 661,
 3851: 662,
 3852: 663,
 3853: 664,
 3854: 665,
 3857: 666,
 3858: 667,
 3859: 668,
 3860: 669,
 3861: 670,
 3862: 671,
 3863: 672,
 3864: 673,
 3865: 674,
 3866: 675,
 3867: 676,
 3869: 677,
 3870: 678,
 3871: 679,
 3872: 680,
 3873: 681,
 3874: 682,
 3876: 683,
 3881: 684,
 3883: 685,
 3884: 686,
 3886: 687,
 3888: 688,
 3889: 689,
 3890: 690,
 3891: 691,
 3892: 692,
 3894: 693,
 3895: 694,
 3896: 695,
 3897: 696,
 3899: 697,
 3900: 698,
 3901: 699,
 3903: 700,
 3904: 701,
 3905: 702,
 3906: 703,
 3908: 704,
 3910: 705,
 3912: 706,
 3913: 707,
 3916: 708,
 3917: 709,
 3918: 710,
 3919: 711,
 3920: 712,
 3921: 713,
 3922: 714,
 3923: 715,
 3925: 716,
 3926: 717,
 3927: 718,
 3930: 719,
 3931: 720,
 3932: 721,
 3933: 722,
 3934: 723,
 3935: 724,
 3936: 725,
 3937: 726,
 3938: 727,
 3939: 728,
 3940: 729,
 3941: 730,
 3942: 731,
 3943: 732,
 3945: 733,
 3947: 734,
 3948: 735,
 3949: 736,
 3952: 737,
 3953: 738,
 3954: 739,
 3955: 740,
 3956: 741,
 3957: 742,
 3960: 743,
 3961: 744,
 3962: 745,
 3963: 746,
 3964: 747,
 3965: 748,
 3966: 749,
 3967: 750,
 3968: 751,
 3969: 752,
 3970: 753,
 3972: 754,
 3973: 755,
 3974: 756,
 3975: 757,
 3976: 758,
 3978: 759,
 3979: 760,
 3980: 761,
 3981: 762,
 3982: 763,
 3983: 764,
 3984: 765,
 3985: 766,
 3986: 767,
 3987: 768,
 3989: 769,
 3990: 770,
 3992: 771,
 3995: 772,
 3996: 773,
 3998: 774,
 3999: 775,
 4000: 776,
 4001: 777,
 4003: 778,
 4004: 779,
 4005: 780,
 4006: 781,
 4007: 782,
 4008: 783,
 4009: 784,
 4011: 785,
 4012: 786,
 4013: 787,
 4015: 788,
 4016: 789,
 4017: 790,
 4018: 791,
 4019: 792,
 4020: 793,
 4021: 794,
 4023: 795,
 4024: 796,
 4025: 797,
 4026: 798,
 4027: 799,
 4028: 800,
 4029: 801,
 4030: 802,
 4031: 803,
 4032: 804,
 4033: 805,
 4034: 806,
 4035: 807,
 4036: 808,
 4037: 809,
 4038: 810,
 4039: 811,
 4040: 812,
 4041: 813,
 4042: 814,
 4044: 815,
 4045: 816,
 4046: 817,
 4047: 818,
 4048: 819,
 4051: 820,
 4053: 821,
 4054: 822,
 4056: 823,
 4060: 824,
 4061: 825,
 4062: 826,
 4063: 827,
 4065: 828,
 4066: 829,
 4067: 830,
 4068: 831,
 4069: 832,
 4070: 833,
 4071: 834,
 4072: 835,
 4073: 836,
 4074: 837,
 4077: 838,
 4078: 839,
 4079: 840,
 4080: 841,
 4081: 842,
 4083: 843,
 4084: 844,
 4085: 845,
 4086: 846,
 4087: 847,
 4088: 848,
 4089: 849,
 4090: 850,
 4091: 851,
 4092: 852,
 4093: 853,
 4094: 854,
 4095: 855,
 4096: 856,
 4097: 857,
 4098: 858,
 4099: 859,
 4100: 860,
 4101: 861,
 4102: 862,
 4103: 863,
 4104: 864,
 4105: 865,
 4106: 866,
 4107: 867,
 4108: 868,
 4110: 869,
 4111: 870,
 4112: 871,
 4114: 872,
 4115: 873,
 4116: 874,
 4117: 875,
 4118: 876,
 4119: 877,
 4120: 878,
 4121: 879,
 4122: 880,
 4123: 881,
 4125: 882,
 4126: 883,
 4127: 884,
 4128: 885,
 4129: 886,
 4130: 887,
 4131: 888,
 4132: 889,
 4133: 890,
 4134: 891,
 4135: 892,
 4136: 893,
 4137: 894,
 4138: 895,
 4140: 896,
 4141: 897,
 4145: 898,
 4146: 899,
 4147: 900,
 4148: 901,
 4149: 902,
 4151: 903,
 4152: 904,
 4153: 905,
 4154: 906,
 4155: 907,
 4157: 908,
 4158: 909,
 4159: 910,
 4161: 911,
 4162: 912,
 4163: 913,
 4164: 914,
 4165: 915,
 4166: 916,
 4168: 917,
 4169: 918,
 4170: 919,
 4171: 920,
 4172: 921,
 4173: 922,
 4174: 923,
 4175: 924,
 4176: 925,
 4177: 926,
 4178: 927,
 4179: 928,
 4182: 929,
 4183: 930,
 4184: 931,
 4185: 932,
 4186: 933,
 4187: 934,
 4188: 935,
 4189: 936,
 4190: 937,
 4191: 938,
 4192: 939,
 4196: 940,
 4197: 941,
 4198: 942,
 4199: 943,
 4201: 944,
 4202: 945,
 4203: 946,
 4204: 947,
 4206: 948,
 4207: 949,
 4208: 950,
 4209: 951,
 4210: 952,
 4211: 953,
 4212: 954,
 4213: 955,
 4214: 956,
 4215: 957,
 4216: 958,
 4217: 959,
 4218: 960,
 4219: 961,
 4220: 962,
 4222: 963,
 4223: 964,
 4224: 965,
 4225: 966,
 4226: 967,
 4227: 968,
 4229: 969,
 4230: 970,
 4231: 971,
 4233: 972,
 4234: 973,
 4236: 974,
 4238: 975,
 4239: 976,
 4240: 977,
 4241: 978,
 4242: 979,
 4244: 980,
 4245: 981,
 4246: 982,
 4247: 983,
 4248: 984,
 4249: 985,
 4250: 986,
 4251: 987,
 4252: 988,
 4254: 989,
 4255: 990,
 4256: 991,
 4257: 992,
 4258: 993,
 4259: 994,
 4261: 995,
 4262: 996,
 4263: 997,
 4264: 998,
 4265: 999,
 ...}

In [141]:
user_x = user_dict[28084]
n_users, n_items = user_movies_interaction.shape
item_ids = np.arange(n_items)
#ACA GENERAMOS PREDICCIONES
preds = model.predict(user_ids=user_x, item_ids = item_ids)

y vamos a tener que pedirle 20 recomendaciones

In [142]:
scores = pd.Series(preds)
scores.index = user_movies_interaction.columns
recomms_28084 = list(pd.Series(scores.sort_values(ascending=False).index))[:20]
recomms_28084

[2040.0,
 2827.0,
 3382.0,
 3712.0,
 116.0,
 3381.0,
 3716.0,
 2815.0,
 3384.0,
 604.0,
 724.0,
 3863.0,
 2012.0,
 3091.0,
 1971.0,
 3711.0,
 3026.0,
 3578.0,
 1720.0,
 2817.0]

entonces, ahora lo que vamos a hacer es filtrar que es lo que vio en train el usuario 28084
 y recomendarle otra PELICULA / SERIE que ya no haya visto

In [143]:
#que es lo que vio en train??

user_28084_watched = interactions_train[interactions_train.content_id == 28084].content_id.unique()
# y filtrarlo en las recomendaciones

recomms_28084 = [rec for rec in recomms_28084 if rec not in user_28084_watched]

recomms_28084

[2040.0,
 2827.0,
 3382.0,
 3712.0,
 116.0,
 3381.0,
 3716.0,
 2815.0,
 3384.0,
 604.0,
 724.0,
 3863.0,
 2012.0,
 3091.0,
 1971.0,
 3711.0,
 3026.0,
 3578.0,
 1720.0,
 2817.0]

Entonces bien, si tenemos COLDSTART podremos recomendarle las peliculas / series mas recomendadas por popularidad

In [144]:
popularity_df = interactions_train.groupby("Rating", as_index=False).agg({"account_id":"nunique"}).sort_values(by="account_id", ascending=False)

popularity_df.columns=["content_id", "popularity"]
popularity_df.head()

   content_id  popularity
0           0       27526
2           2       15260
1           1       12222
3           3        1687

In [145]:
#mas populares

popular_content = popularity_df.content_id.values[:20]

Ahora basándonos en el ejemplo anterior, vamos a generar 20 recomendaciones para todos los usuarios. 

Debemos tener en cuenta:

- Filtrar contenidos que el usuario vio anteriormente
- Si el usuario no está en el set de train, recomendarle los 20 contenidos más populares

In [146]:
from tqdm import tqdm

#definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'account_id': [],
    'recomms': []
}

#obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = user_movies_interaction.shape
item_ids = np.arange(n_items)

#por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(interactions_test.account_id.unique()):
    #COMPLETAR: Validar si el usuario se encuentra en la matriz de interacciones (user_movies_interaction.index)
    if user in list(user_movies_interaction.index):
      # Si el usuario esta en train, no es cold start. Usamos el modelo para recomendar
      user_x = user_dict[user] #buscamos el indice del usuario en la matriz (transformamos id a indice)

      #COMPLETAR: Generar las predicciones para el usuario x
      preds = model.predict(user_ids=user_x, item_ids = item_ids)

      #COMPLETAR: Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
      scores = pd.Series(preds)
      scores.index = user_movies_interaction.columns
      scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

      #COMPLETAR: Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
      watched_contents = interactions_train[interactions_train.account_id == user].content_id.unique()

      #COMPLETAR: Filtrar contenidos ya vistos y quedarse con los primeros 20
      recomms = [x for x in scores if x not in watched_contents][:20]

      # Guardamos las recomendaciones en el diccionario
      recomms_dict['account_id'].append(user)
      recomms_dict['recomms'].append(scores)
    
    # En este else trataremos a los usuarios que no están en la matriz (cold start)
    else:
      recomms_dict['account_id'].append(user)
      # Les recomendamos contenido popular
      recomms_dict['recomms'].append(popular_content)

100%|██████████| 27537/27537 [04:53<00:00, 93.95it/s]

Y por ende, ya estamos listos para hacer un data frame para ver lo que nos salio

In [147]:
recomms_df = pd.DataFrame(recomms_dict)
recomms_df

       account_id                                            recomms
0           26062  [2040.0, 2235.0, 2422.0, 3043.0, 2212.0, 3535....
1           26065  [2040.0, 774.0, 2012.0, 604.0, 116.0, 2827.0, ...
2            3401                                       [0, 2, 1, 3]
3           26137  [724.0, 2868.0, 3752.0, 3381.0, 3384.0, 1209.0...
4           26143  [1544.0, 3381.0, 3384.0, 2040.0, 731.0, 724.0,...
...           ...                                                ...
27532       52942                                       [0, 2, 1, 3]
27533       48310  [2087.0, 3295.0, 3026.0, 3025.0, 3309.0, 2508....
27534       49661  [3580.0, 2521.0, 2063.0, 3642.0, 2518.0, 3161....
27535        7246  [2019.0, 2020.0, 3025.0, 2018.0, 3309.0, 3026....
27536       59372  [1665.0, 2541.0, 2040.0, 1366.0, 2846.0, 1720....

[27537 rows x 2 columns]

verificamos si tiene relacion con test

In [148]:
interactions_test.head()

,content_id,account_id,category,keywords,Rating,tunein,to_see
5,2040.0,26062,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-03-09 22:55:00,False
6,2040.0,26062,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-03-21 17:56:00,True
7,2040.0,26065,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-03-06 01:49:00,False
8,2040.0,26065,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-03-07 13:38:00,True
9,2040.0,26065,Drama/Comedia,"Sociedad,Tragicómica,Adicciones,Familia,Amigos...",2,2021-03-14 15:49:00,False

Ahora si, podriamos comparar con test y con lo que realmente se vio, con el analisis que se hizo al principio que si vio mas de 1 hora, es porque podemos tomar como que la vio

In [149]:
ideal_recomms = interactions_test[interactions_test.to_see]\
                  .sort_values(by=["account_id", "Rating"], ascending=False)\
                  .groupby(["account_id"], as_index=False)\
                  .agg({"content_id": "unique"})\
                  .head()
ideal_recomms.head()

   account_id        content_id
0         141          [4334.0]
1         142          [3210.0]
2         146          [4249.0]
3         148  [3386.0, 1946.0]
4         150          [1930.0]

In [171]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="account_id", right_on="account_id")[["account_id", "content_id", "recomms"]]
df_map.columns = ["user", "ideal", "recomms"]
df_map.head()

   user             ideal                                            recomms
0   141          [4334.0]                                       [0, 2, 1, 3]
1   142          [3210.0]  [3578.0, 3166.0, 2570.0, 3026.0, 1709.0, 724.0...
2   146          [4249.0]                                       [0, 2, 1, 3]
3   148  [3386.0, 1946.0]  [1685.0, 1673.0, 3364.0, 2817.0, 2040.0, 1957....
4   150          [1930.0]                                       [0, 2, 1, 3]

In [172]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) 
  arange = np.arange(n, dtype=np.int32) + 1. 
  rel_k = np.in1d(pred[:n], label) 
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() 
  denom = arange[rel_k] 
  ap = (tp / denom).sum() / len(label) 
  aps.append(ap)

In [173]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.0